################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/src/AM.Web.TagHelpers/bin
/src/AM.Web.TagHelpers/obj
